
.category{
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color:#cadae8;
    padding: 10px;
}

.category_links{
    text-decoration:none;
}

.category_title{
    font-weight:600;
    border:1px solid;
    border-radius:7px;
    padding-left:5px;
}

.category_title a{
    text-decoration:none;
    color:#333;
}

.category_title a:hover{
    text-decoration:underline;
}

.category_title a:visited{
    color:#333;
}

.new_thread{
    float:right;
    font-size:0.6em;
    padding-right:4px;
}

.thread{
    margin-top:1px;
}

.thread a{
    text-decoration:none;
    color:#333;
}

.thread a:hover{
    text-decoration:underline;
}

.thread a:visited{
    color:#333;
}

.thread table{
    border:none;
    border-collapse:collapse;
    table-layout: fixed;
}

.thread td{
    padding: 0;
    border:none;
    overflow:hidden;
    text-overflow: ellipsis;
}

.thread_op a{
    text-decoration:underline;
}

.thread_link{
    margin-left:15px;
    margin-top:10px;
}
