@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

#titlebox{
    position:absolute;
    width:100%;
    min-width:1030px;
    font:1.25em Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#222;
    font-weight:300;
    top: 0;
    left: 0;
    right: 0;
    height: 100px; 
    background-color:#333;
}

#title{
    float:left;
    color:#a6c2d9;
    padding-left:3%;
}

#content{
    position:relative;
    top: 100px;
}

.nav{
	float:right;
	width:35%;
}

.nav ul{
    float:right;
    margin-right:10%;
    padding-top:1%;
}
.nav ul li{
    color:#a6c2d9;
    list-style:none;
    margin-right: 10px;
    float:left;
}
.nav ul li a{
    color:#a6c2d9;
    text-decoration:none;
}
