@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

#titlebox{
    position:absolute;
    width:100%;
    min-width:1050px;
    font:1.25em Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#222;
    font-weight:300;
    top: 0;
    left: 0;
    right: 0;
    height: 100px; 
    background-color:#333;
}

#title{
    float:left;
    color:#a6c2d9;
    padding-left:3%;
}

#content{
    position:relative;
    top: 100px;
}

.nav{
	float:right;
	width:40%;
        white-space: nowrap;
}

.nav ul{
    float:right;
    padding-right:8%;
    padding-top:8%;
    white-space: nowrap;
    padding-left:0px;
    -webkit-margin-before:0em;
    -webkit-margin-after:0em;
}
.nav ul li{
    color:#a6c2d9;
    font-size:1.25em;
    list-style:none;
    margin-right: 10px;
    float:left;
    white-space: nowrap;
}
.nav ul li a{
    color:#a6c2d9;
    text-decoration:none;
}
