
@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
    padding:20px;
    font:1.25em Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#222;
    font-weight:300;
    width:90%;
    min-width:1000px;
    margin:0 auto;
    line-height: 1.2em;
    background-color:white;
}

.post {
    border: ridge 2px #48485a;
    margin: 5px;
    position:relative;
    display: block;
}

.user_info {
    border-right: dotted 1px black;
    margin: 2px;
    width: 100px;
    text-align: center;
    float:left;
    height:100%;
    position:absolute;
    left:0px;
}

.content {
    position:relative;
    left: 120px;
    width: 85%;
    overflow: auto;
    min-height:50px;
}

.clear {
    clear: both;
}

.edit_button {
    float:right;
    margin-top:-25px;
    margin-right:5px;
}