
@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
    padding:20px;
    font:15px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#222;
    font-weight:300;
    width:800px;
    margin:0 auto;
    line-height: 1.2em;
}

.post {
    border: dotted 1px black;
    margin: 5px;
    height: auto;
    position:relative;
    display: block;
}

.user_info {
    border-right: dotted 1px black;
    padding: 2px;
    width: 100px;
    text-align: center;
    float:left;
    height:100%;
    position:absolute;
    left:0px;
}

.content {
    position:relative;
    left: 120px;
    width: 85%;
    overflow: auto;
    min-height:50px;
}

.clear {
    clear: both;
}

.asLink {
    background-color: transparent;
    text-decoration: underline;
    border: none;
    cursor: pointer;
}