################
#  Database
###############

*.key

################
#  Database
###############

*.db

################
#  Documents
###############

*.pdf

################
#  Bytecode
###############

*.pyc