<html>
<head>
  <title>
    PSVM [Public Static Void Main]
  </title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/header.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
    <body>
      <form action="/logout" id="logout_form" action="post"></form>
      <div id="titlebox">
        <h1 id="title">PSVM [Public Static Void Main]</h1> 
	<div class="nav"> 
	  <ul id="title_links">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/search.html">Search</a></li>
            <li><a href="/login.html">Login</a></li>
            <li><a href="/register.html">Register</a></li>
          </ul> 
	</div>
      </div>
      <div id = "wrapper">
	<div id="content">
          {content}
	</div>
      </div>
    </body>
</html>
