<link type="text/css" rel="stylesheet" href="/css/shCoreDefault.css"/>
<link type="text/css" rel="stylesheet" href="/css/input.css"/>
<script type="text/javascript" src="/js/tab.js"></script>
<script type="text/javascript" src="/js/shCore.js"></script>
<script type="text/javascript" src="/js/shBrushCpp.js"></script>
<script type="text/javascript" src="/js/shBrushPython.js"></script>
<script type="text/javascript" src="js/edit.js"></script>
<script type="text/javascript">
SyntaxHighlighter.config.stripBrs = true;
SyntaxHighlighter.defaults["toolbar"] = false;
SyntaxHighlighter.all();
</script>

{body}

<form method="post" action="">
  <div class="post_input">
    <textarea rows="5" cols="45" name="new_post" id="textbox"></textarea>
    <br>
    <a href="javascript:void(0)" class="markup_help">Formatting Help</a>
    <input type="submit" value="Submit">
  </div>
</form>
