<link type="text/css" rel="stylesheet" href="/css/shCoreDefault.css"/>
<link type="text/css" rel="stylesheet" href="/css/input.css"/>

<script type="text/javascript" src="/js/animate.js"></script>
<script type="text/javascript" src="/js/tab.js"></script>
<script type="text/javascript" src="/js/shCore.js"></script>
<script type="text/javascript" src="/js/shBrushPython.js"></script>
<script type="text/javascript">
SyntaxHighlighter.config.stripBrs = true;
SyntaxHighlighter.defaults["toolbar"] = false;
SyntaxHighlighter.all();
</script>

<form method="post" action="/new_thread">
  <input type="text" name="title">

  <select name="category">
    {category_options}
  </select>
  <br>
  <div class="post_input">
    <textarea rows="5" cols="45" name="new_post" id="textbox"></textarea><br>
    <a href="javascript:void(0)" class="markup_help">Formatting Help</a>
    <input type="submit" value="Make Thread">
  </div>
</form>

<div id="format_help">
<table border="1">
  <tr>
    <th>code</th>
    <td>[code](python)
      <br>
      print "example"
      <br>
      [\code]
    </td>
    <td><pre class="brush: python;"> print "test" </pre></td>
  </tr>
  <tr>
    <th>link</th>
    <td>[link](http://www.google.com)
      <br>
      Link to google
      <br>
      [\link]</td>
    <td><a href="http://www.google.com">Link to google</a></td>
  </tr>
</table>
</div>
