
<div class="thread">
  <table border="1" width="100%">
    <tr>
      <td style="width:60%">
        <a href="thread.html?thread_id={thread_id}" class="thread_link">{title}</a>
      </td>
      <td style="width:15%; text-align:left;padding-left:30px;">
          in <a href="/category.html?category_id={category_id}">{category}</a>
      </td>
      <td style="width:15%; text-align:right;">
        <span class="count">
          found {count} occurrences</a>
        </span>
      </td>

    </tr>
  </table>
</div>
