<link type="text/css" rel="stylesheet" href="/css/shCoreDefault.css"/>
<link type="text/css" rel="stylesheet" href="/css/input.css"/>
<script type="text/javascript" src="/js/tab.js"></script>
<script type="text/javascript" src="/js/shCore.js"></script>
<script type="text/javascript" src="/js/shBrushCpp.js"></script>
<script type="text/javascript" src="/js/shBrushPython.js"></script>
<script type="text/javascript" src="/js/shBrushRuby.js"></script>
<script type="text/javascript" src="/js/shBrushPerl.js"></script>
<script type="text/javascript" src="js/edit.js"></script>
<script type="text/javascript" src="js/execute.js"></script>
<script type="text/javascript" src="js/animate.js"></script>
<script type="text/javascript">
SyntaxHighlighter.config.stripBrs = true;
SyntaxHighlighter.defaults["toolbar"] = false;
SyntaxHighlighter.all();
</script>

<div class="path">
  <a href="index.html">Main</a> &gt;
  <a href="category.html?category_id={category_id}"> {category_name}</a> &gt;
  <a href="thread.html?thread_id={thread_id}"> {thread_title} </a>
</div>


{posts}

<form method="post" action="new_post">
  <input type="hidden" name="thread_id" value="{thread_id}">
  <div class="post_input">
    <textarea rows="5" cols="45" name="new_post" id="textbox"></textarea>
    <br>
    <a href="javascript:void(0)" class="markup_help">Formatting Help</a>
    <input type="submit" value="Submit">
  </div>
</form>
<div id="format_help">
<table border="1">
  <tr>
    <th>What you write</th>
    <th>What you see</th>
  </tr>
  <tr>
    <td>[code](python)
      <br>
      print "example"
      <br>
      [\code]
    </td>
    <td><pre class="brush: python;"> print "example" </pre></td>
  </tr>
  <tr>
    <td>[link](http://www.google.com)
      <br>
      Link to google
      <br>
      [\link]</td>
    <td><a href="http://www.google.com">Link to google</a></td>
  </tr>
  <tr>
    <td>[image](https://www.google.com/images/srpr/logo11w.png)
      <br>
      [\image]
    </td>
    <td>
      <img style="max-width:100px;height:auto;width:100%"
           src="https://www.google.com/images/srpr/logo11w.png">
    </td>
  </tr>
</table>
</div>

