<link type="text/css" rel="stylesheet" href="/css/shCoreDefault.css"/>
<link type="text/css" rel="stylesheet" href="/css/input.css"/>
<script type="text/javascript" src="/js/tab.js"></script>
<script type="text/javascript" src="/js/shCore.js"></script>
<script type="text/javascript" src="/js/shBrushCpp.js"></script>
<script type="text/javascript" src="/js/shBrushPython.js"></script>
<script type="text/javascript">
SyntaxHighlighter.config.stripBrs = true;
SyntaxHighlighter.defaults["toolbar"] = false;
SyntaxHighlighter.all();
</script>

<a href="index.html">Main</a> &gt;
<a href="category.html?category_id={category_id}"> {category_name}</a> &gt;
<a href="thread.html?thread_id={thread_id}"> {thread_title} </a>
<br>


{posts}

<form method="post" action="new_post">
  <input type="hidden" name="thread_id" value="{thread_id}">
  <div class="post_input">
    <textarea rows="5" cols="45" name="new_post" id="textbox"></textarea>
    <br>
    <a href="javascript:void(0)" class="markup_help">Formatting Help</a>
    <input type="submit" value="Submit">
  </div>
</form>
